<h1>Editing word</h1>

<% form_for(@word) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :english %><br />
    <%= f.text_field :english %>
  </p>
  <p>
    <%= f.label :chinese %><br />
    <%= f.text_field :chinese %>
  </p>
  <p>
    <%= f.label :japanese %><br />
    <%= f.text_field :japanese %>
  </p>
    <p>
      <%= f.label :furigana %><br/>
    <%= f.text_field :furigana %>
  </p>

  <p>
    <%= f.label :sentences %><br />
    <%= f.text_area :sentences %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @word %> |
<%= link_to 'Back', words_path %>
