

<div id="page">
      <div id="content">
          <h1></h1>
          <table cellspacing="0" cellpadding="5">
             <tr>
                 <th>&nbsp &nbsp  Chinese</th>
                 <th>English</th>
                 <th>Japanese</th>
                 <th>furigana</th>
               </tr>


            <%for word in @words -%>
            <div class="post">

              <tr> <td><h1 class="title"><%=h word.chinese%></h1></td>
                   <td><div class="entry"><%=h word.english%></div></td>
                   <td><div class="entry"><%=h word.japanese%></div></td>
                   <td><div class="entry"><%=h word.furigana%></div></td>
                        <td><div class="list-actions">
                             <%= link_to 'Show', word %><br/>
                             <%= link_to 'Edit', edit_word_path(word) %><br/>
                             <%= link_to 'Destory', word,
                                         :confirm=> 'Are you sure?',
                                         :method=>:delete %> 
                        </td>
                      </tr>    
                 </div>
                 
               </div>       
            <% end -%>
          </table>
            <br/>
          <%= link_to 'New word', new_word_path %>
      </div>
	<div style="clear: both;">&nbsp;</div>
<!-- end page -->
<!-- start footer -->













