<div id="page">
  <div id="content">
    <table width="100%" border="0" cellspacing="0" cellpadding="5">
        <% form_for(@word) do |f| %>
         
        <div class="post">
          <%= f.error_messages %>
        <p>
          <%= f.label :english %><br />
          <%= f.text_field :english %>
        </p>
        <p>
          <%= f.label :chinese %><br />
          <%= f.text_field :chinese %>
        </p>
        <p>
          <%= f.label :japanese %><br />
          <%= f.text_field :japanese %>
        </p>
        <p>
          <%= f.label :furigana %><br/>
          <%= f.text_field :furigana %>
        </p>
        <p>
          <%= f.label :sentences %><br />
          <%= f.text_area :sentences %>
        </p>
        <p>
          <%= f.submit "Create" %>
          <%= link_to 'Back', words_path %>
        </p>
      </div>
      <% end %>
            </table>
    </div>
    </div>
	<div style="clear: both;">&nbsp;</div>
